/* CSS */
:root {
  --dark-blue: rgba(0, 86, 167, 1);
  --light-blue: rgba(115, 157, 214, 1);
}

/* Overwrites */
.navbar-item img {
	max-height: 6.25rem;
}
a.navbar-item {
  color: var(--dark-blue);
  font-weight: 700;
}
a.navbar-item:hover {
  color: #fff;
  background-color: var(--dark-blue);
}
.section:not(:first-of-type) {
	max-width: 64rem;
	margin: 0 auto;
}
.section:first-of-type {
	padding: 0 3rem;
}
.footer {
	padding: 0;
    background-color: #fff;
}
/* Typo */
.title {
	font-family: 'Lato', sans-serif;
	color: #fafafa;
}
p {
	font-family: 'Lora', serif;
}
a {
	color: var(--dark-blue);
}
.emp {
	color: var(--dark-blue);
	font-weight: 700;
}

/* Features  */
#dyn-main .home {
	display: flex;
	align-items: center;
    min-height: 500px;
}
.has-cta {
  min-height: 10rem;
  align-items: center;
}
.has-cta .button {
  min-width: 300px;
  background-color: var(--light-blue);
  color: #fff;
  border-color: transparent;
  font-weight: 700;
}
.cta-spacer {
  position: relative;
  top: 0.5rem;
  margin: 0 1.5rem;
}
/* Sections */
.services .box {
    height: 250px;
}
/* Devices */
@media screen and (min-width: 1024px) {
	.section:first-of-type {
		height: 110px;
	}
	#dyn-main {
		
	}
}

/* Animations */
.fade-in {
	animation: fadeIn 4s;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1}
}
