/* CSS */

/* Overwrites */
.navbar-item img {
	max-height: 5.75rem;
}
.section {
	max-width: 60rem;
	margin: 0 auto;
}
section:first-of-type {
	padding: 0 3rem;
}
.title {
	font-family: serif;
	font-style: italic;
}
a {
	color: rgb(0, 86, 167);
}

/* Features  */
.theme-image {
	max-width: 26.25rem;
}
/*
@media screen and (min-width: 1024px)
.section {
    padding: 3rem 3rem;
}
*/

/* Animations */
.fade-in {
	animation: fadeIn 4s;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1}
}